.hero{
    background: url('https://cdn.pixabay.com/photo/2016/05/05/11/22/computer-1373684_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 60px);
    background-position:center;
    display: flex;
    align-items: center;
}

.hero h1{
color: white;
font-size: 46px;
display: flex;
flex-direction: column;
width: 50%;
}

.hero h1 span{
    color: red;
    align-self: flex-end;
    font-size: 50px;
}
@media (max-width:768px){
    .hero h1{
        font-size: 38px;
        
    }
    .hero h1 span{
        font-size: 42px;
    }
}

@media (max-width:576px){
    .hero h1{
        font-size: 33px;
    }
    .hero h1 span{
        font-size: 38px;
    }
}