.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
   
}

.container-form h1{
    color: white;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 30px;
    background: transparent;
    color: white;
    box-shadow: 2px 5px 8px black;
    border-radius: 10px;
    padding: 20px;

}

.contact input{
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 90%;
    outline: none;
}

.form-inside{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-form button{
    padding: 7px;
    background: white;
    border-radius: 10px;
    border: none;
    margin-left: -120px;
}